name: Playwright Tests
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v5
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm install
    - name: Install Playwright Browsers
      run: npx playwright install
    - name: install Database
      run: npm install better-sqlite3
    - name: create database
      run: node db/init-db.js
    - name: Run Test for UI
      run: npm run test:ui
    - name: Run Test for API
      run: npm run test:api
    - name: Run Test for DB
      run: npm run test:db
    - name: Run Test for E2E
      run: npm run test:e2e
    - name: Run Playwright tests
      run: npx playwright test
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: test-results
        path: test-results/
        retention-days: 30